<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentManager</title>

    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    
    </style>
</head>
<body>

    <div class="container-fluid">
        <div class="row content">
            
            <div class="col-sm-2 sidenav hidden-xs">
                <div class="well" style="margin-top:20px;">
                    <h2>Logo</h2>
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#section1">Dashboard</a></li>
                        <li><a href="#section2">section2</a></li>
                        <li><a href="#section3">section3</a></li>
                        <li><a href="#section3">section3</a></li>
                    </ul><br>
                </div>
            </div>
            <br>

            <div class="col-sm-10">
                <div class="well">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="#"><img src="https://yt3.ggpht.com/a-/AN66SAzReYMJoqY0o8hgKYUGP2mKt_M3ITfUA2T0Ug=s900-mo-c-c0xffffffff-rj-k-no" width="44" class="img-circle" /> Charlie Puth </a>

                        </div>
                        <div class="col-lg-6">
                            <div style="float:right">
                                <a class="btn btn-default" href="#"> Language </a>
                                <a class="btn btn-danger" href="#"> Log Out <span class="glyphicon glyphicon-log-out"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well">
                    <div class="container body-content">
                        @RenderBody()
                        <hr />
                        <footer>
                            <p>&copy; 2018 - StudentManager</p>
                        </footer>
                    </div>

                    @RenderSection("Scripts", required: false)
                </div>
            </div>
        </div>
    </div>

</body>
</html>
